/* color pallete light blue #31D0E8 medium blue #3FA3B5 dark blue #336070 cream #FFFFEF salmon #FA7567 */

main div{
  border-style: solid;
  border-color:#336070;
  border-width: 5px;
  margin: 2px;
  display: inline-block;
  padding: 3px;
  box-shadow:#336070 10px 10px 10px;
  border-radius: 5px;
}
/*main div h3 {
  font-size:x-large;
  margin-bottom: 3px;
  background-color: #FA7567;
  color: #FFFFEF;
  padding: 2px;
}

ul li:nth-child(15){
  background-color: #336070;
  font-size: 24px;
  color: #FFFFEF;
  padding: 2px;
}

ul li {
  padding: 1px;
} */

h1 {
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 2.5%;
  color: #FFFFEF;
  font-size: 24px;
  margin-bottom: 5px;
}

table, td, th {
  border-collapse: collapse;
  text-align: left;
  background-color: #FA7567;
  border: 1px solid #FFFFEF;
  
  color: #0F2557;
  padding: 10px;
  
}

th {
  padding: 5px;
  font-weight: bold;
  color: #FFFFEF 
}

tr {
  padding: 20px;
  border-bottom: solid 2px #FFFFEF;
}

body {
  background-color: #FA7567
}

table {
  border-radius: 10px;
}

th:nth-child(17) {
  background-color:#31D0E8;
}

td:nth-child(16) {
  background-color:#31D0E8;
  color:  #FFFFEF ;
  border-left: 4px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  background-color: #31D0E8;
}

nav {
  margin: 0 auto;
  width: 960px;
  display: flex;
  
}

nav ul {
    display: flex;
    align-items:center;
  }

nav ul li a {
  padding: 1rem;
  text-decoration: none;
  font-family: sans-serif;
  color: #FFFFEF;
}

header img {
  margin-right: 1rem;
}

main {
  margin: 30px auto;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main > img {
  margin-bottom: 30px;
}

main > img:nth-child(5){
  margin-bottom: 0;
}
main > img:nth-child(1){
  margin-left: 52px;
  margin-right: 52px;
}

article {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article h3 {
  
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

p {
  overflow: auto;
  height: 310px;
  
}

article a {
  border-radius: .3rem;
  background-color: darkgray;
  padding: .5rem 1.5rem;
  text-decoration: none;
  color: lightgray;
  align-self: flex-start;
}

footer {
  width: 100%;
  background-color: white;
  padding: auto;
  display: flex;
}

footer h3 {
  display: flex;
  align-self: center;
  font-size: 20px;
  padding: 10px;
}

 a:hover {
  opacity: 50%;
}

#salmonheader {
  width: 200px;
  height: auto;
}
footer nav {
  display: flex;
}
footer nav ul li {
  padding: 5px;
}